*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    background-color: #f1ce9a;
}
.container {
    /* margin-top: 50px; */
    width: 400px;
    height: 400px;
    background-color: #fff3f3;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 8px;
    box-shadow: 0 20px 45px rgba(120, 76, 10, 0.25);
}
.cake {
    width: 100%;
    position: absolute;
    bottom: 60px;
}
.bottom-layer,
.top-layer,
.middle-layer {
    height: 80px;
    width: 240px;
    position: relative;
    margin: auto;
    background-repeat: repeat;
    background-size: 100% 100%, 60px 100px;
    background-position: 28px 0;
    background-image: linear-gradient(
        transparent 50px,
        #e3a953 50px,
        #e3a953 60px,
        transparent 60px
    ),
    radial-gradient(circle at 30px 5px, #97501a 30px, #eac284 31px);
}
.middle-layer {
    transform: scale(0.85);
    top: 72px;
    animation: rise-1 1.3s forwards;
}
@keyframes rise-1 {
    100% {
        top: 7px;
    }
}
.top-layer {
    transform: scale(0.7);
    top: 144px;
    animation: rise-2 1.6s 1.1s forwards;
}
@keyframes rise-2 {
    100% {
        top: 26px;
    }
}
.candle {
    background: repeating-linear-gradient(
        45deg,
        #fd3018 0,
        #fd3018 5px,
        #ffa89e 5px,
        #ffa89e 10px
    );
    height: 45px;
    width: 15px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    animation: rise-3 1.5s 2.5s forwards;
}
@keyframes rise-3 {
    100% {
        bottom: 202px;
    }
}
.candle:after {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    background-color: #ffee54;
    border-radius: 0 50% 50% 50%;
    transform: scale(0) rotate(45deg);
    bottom: 50px;
    left: -0.5px;
    animation: flame 2.5s 3.3s forwards;
}
@keyframes flame {
    100% {
        transform: scale(1) rotate(45deg);
    }
}
.text{
    position: absolute;
    color: #ffecec;
    text-shadow: 0 0 1.5px #000000, 0 0 1.5px #000000;
    padding-top: 10%;
    font-weight: bold;
    display: inline-block;
    font-family: monospace;
    font-size: 40px;
}

.typed {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing;
    animation-delay: 5s;
    animation-duration: 1.7s;
    animation-timing-function: steps(30, end);
    animation-fill-mode: forwards;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}